html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    background-color: #F6F6F6;
    height: 100%;
}

footer {
    height: 30px;
    background-color: #637f83;
    text-align: center;
    color: white;
    margin-top: 2em;
}

footer > .container {
    padding-top: 2px;
}


*h4, h5, h6,
h1, h2, h3 {
    margin-top: 0;
}

ul, ol {
    margin: 0;
}

p {
    margin: 0;
}