.form-control-primary{
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    padding: 50px 0 0 10px;
    border-right: 1px solid #000000;


}

.left-sidebar {
    position: sticky;
    top: 0;
    height: calc(100vh - 20px);
    background-color: darkgray;
}
.nav-link {
    font-size: 20px;
    color: #000000;
}

.sidebar-nav li .nav-link{
    color: #333;
    font-size: 15px;

}
#base-col{

    max-width: 100% !important;
    display: flex;

}
#dashborad-container{
    display: flex;
    flex-direction: row;
}