{% load static %}
{% load crispy_forms_tags%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zeszycik</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar-toggler.css' %}">


    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
     <script src="https://jquery.min.js"></script>
    <script src="https://bootstrap.bundle.min.js"></script>
    <script>
        ScrollReveal({ reset: true });
    </script>


</head>
<body>

<!-- Main Navbar + logowanie + auth -->
        <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top"> <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon pull-left"></span></a> <button class="navbar-toggler  pull-left" id="sidebar-toggle" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon pull-left"></span> </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active "> <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a> </li>

                </ul>
                <!--<form class="form-inline my-2 my-md-0"> </form>-->
                <form class="form-inline my-2 my-md-0 pr-0 float:right"  id="logowanie">
                    {% if user.is_authenticated %}
                        <a class="btn btn-outline-success padding " href="{% url 'lessons_list' %}">Log In: {{ user.username }} <span class="sr-only">(current)</span></a>
                        <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'logout' %}">LOGOUT</a>
                    {% else %}
                        <a class="btn btn-outline-success my-2 my-sm-0 float:right pull-left" href="{% url 'login' %}" >LOGIN</a>

                       <!-- <a class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#userlogin" >LOGIN</a>  -->


                    {% endif %}
                </form>
            </div>
        </nav>

<!-- Sidebar + Auth -->
            {% if user.is_authenticated %}
                <div id="wrapper" class="toggled">
                    <!-- Sidebar -->
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand"> <a href="{% url 'lessons_list' %}"> Zeszycik </a> </li>
                            <li> <a href="{% url 'lessons_list' %}">Curses</a> </li>
                            <li> <a href="{% url 'calendar' %}">Calendar</a> </li>
                            <li> <a href="{% url 'messages_list' %}">Messages</a> </li>
                            <li> <a href="{% url 'library' %}">Library</a> </li>
                            <li> <a href="{% url 'exams' %}">Exams</a> </li>
                            <li> <a href="{% url 'studenttest_solve' %}">Tests - Solve</a> </li>
                        {% if user.groups.all.0.name == 'administrator' or user.groups.all.0.name == 'teachers' %}
                            <li> <a href="{% url 'studenttest_list' %}">Tests</a> </li>
                        {% endif %}

                        {% if user.groups.all.0.name == 'administrator' %}
                            <li> <a href="{% url 'users_list' %}">Users</a> </li>
                        {% endif %}
                        </ul>
                    </div>

            {% endif %}

                    <div id="page-content-wrapper">
                        <div class="container-fluid">

                            {% block content %}
                            {% endblock %}

                        </div>
                    </div>
                </div>

        <script>
                  $(function(){
                    $("#menu-toggle").click(function(e) {
                        e.preventDefault();
                        $("#wrapper").toggleClass("toggled");
                    });

                    $(window).resize(function(e) {
                      if($(window).width()<=768){
                        $("#wrapper").removeClass("toggled");
                      }else{
                        $("#wrapper").addClass("toggled");
                      }
                    });
                  });
                    $(document).ready(function(){
                            if($(window).width()<768)
                            {
                                $('#sidebar-toggle').css('float','left');
                            }
                            $(window).on('resize',function(){
                                if($(window).width()<768)
                                {
                                    console.log('here');
                                      $('#sidebar-toggle').css('float','left');
                                }
                            });
                        });
                </script>
<div class=" container-fluid sticky-top ">
    <footer class="fixed-bottom bg-dark">
    <div class="text-center">
        <span class="text-muted">Copyright &copy; 2020 Zeszycik</span>
    </div>

    </footer>
</div>
</body>
</html>