{% extends 'index.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">


{% block content %}



    <div class="container-fluid" id="dashborad-container">

    <h3>Calendar:</h3>

    <div class=" table table-responsive-md">
      <table class="table">
          <thead>
            <th scope="col">No</th>
            <th scope="col">Curses</th>
            <th scope="col">Date</th>
            {% if user.groups.all.0.name == 'students' %}
                <th scope="col">Add to calendar</th>
            {% endif %}
          </thead>
          <tbody>
            {% for lesson in lessons %}

                <tr >
                    <td>{{ lesson.pk }}</td>
                     <td>{{ lesson.name }}</td>
                    <td>{{ lesson.date }}</td>
                    {% if user.groups.all.0.name == 'students' %}
                        {% if not user in lesson.students.all %}
                            <td>
                                <a href="{% url 'lesson_add_student' lesson.pk %}"class="btn btn-info active" role="button" aria-pressed="true">Add</a>
                            </td>
                        {% else %}
                            <td>
                                <a href="#"class="btn btn-success active" role="button" aria-pressed="true">You are signed in</a>
                            </td>
                        {% endif %}
                    {% endif %}

                </tr>
            {% endfor %}

          </tbody>
      </table>
    </div>

    </div>


{% endblock  %}