{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">




 {% block content %}
     <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <div class="container-fluid" id="dashborad-container">
      <div class="row">
          <div class="left-sidebar col-md-2 padding ">
                <ul class="nav flex-column sidebar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'lessons_list' %}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
                            Kursy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'studenttest_list' %}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
                            Testy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
                            Kalendarz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'messages_list' %}" >
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>
                            Wiadomości</a>
                    </li>
                </ul>
          </div>
          <div class="col-md-10 padding " id="base-col" >
              <object  data="{% url 'lessons_list' %}" style="width:100%;height:100vh;">

              </object>


          </div>
        </div>
  </div>

{% endblock %}
