{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags%}

<link rel="stylesheet" href="{% static 'css/index.css' %}">



{% block content %}

<section id="showcase" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="showcase-left">
                    <img src="{% static 'images/showcaseindex.jpg' %}">
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="showcase-right">
                    <h2>Start learning right now</h2>
                    <br>
                    <p>It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is that it
                        has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                        content here', making it look like readable English. Many desktop publishing</p>
                </div>
                <br>
                <a class="btn btn-outline-secondary btn-lg showcase-btn" data-toggle="modal" data-target="#Modalsignup"> Sign Up </a>


            </div>
        </div>
    </div>


</section>


                               <!-- Modal -->
                <div class="modal fade" id="Modalsignup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" >
                            <form method="post">
                              {% csrf_token %}
                              {{ formSignup }}
                            </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Sign up</button>

                      </div>
                    </div>
                  </div>
                </div>

<section id="memento">
    <div class="container">
        <p> "It is a long established fact that a reader will be distracted by the readable
                        content of a page."</p>
        <p class="customer"> - Gottfield Wilhelm Leibniz </p>
    </div>

</section>

    <script >
        window.sr = ScrollReveal();
        sr.reveal('.navbarSupportedContent', {
            duration: 2000,
            origin: 'bottom'
        });
        sr.reveal('.showcase-left', {
            duration: 2000,
            origin: 'top',
            distance: '300px'
        });
        sr.reveal('.showcase-right', {
            duration: 2000,
            origin: 'right',
            distance: '300px'
        });
        sr.reveal('.showcase-btn', {
            duration: 2000,
            delay: 2000,
            origin: 'bottom'
        });
        sr.reveal('#memento div', {
            duration: 2000,
            origin: 'bottom'
        });

    </script>

{% endblock %}


