{% extends 'index.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">



{% block content %}
    <div class="container-fluid" id="dashborad-container">
    <h3>Curses:</h3>
    <a href="{% url 'lesson_create' %}">Nowy kurs</a>

    <div class=" table table-responsive-md">
      <table class="table">
          <thead>
            <th scope="col">No</th>
            <th scope="col">Curses</th>
            <th scope="col">Details</th>
            <th scope="col">Science materials</th>
            <th scope="col">Add to calendar</th>
            {% if user.groups.all.0.name == 'administrator' or user.groups.all.0.name == 'teachers' %}
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            {% endif %}

          </thead>
          <tbody>
            {% for lesson in lessons %}
                <tr >
                    <td>{{  forloop.counter }}</td>
                     <td>{{ lesson.name }}</td>
                     <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ lesson.pk }}">
                          Details
                        </button>
                            <div class="modal fade" id="exampleModal{{ lesson.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                      <div class="modal-body">
                                                Name: {{ lesson.name }}<br>
                                                Description: {{ lesson.description }}<br>
                                                Author: {{ lesson.teacher }}<br>
                                            {#    {{ lesson.students.get_queryset }} <br>#}
                                            {#    {{ lesson.date }}<br>#}
                                            {#    {{ lesson.data }}<br>#}
                                          <a href="{% url 'lesson_detail' lesson.pk %}"></a>
                                      </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                    </td>
                    <td>
                        <a href="{% url 'lesson_data' lesson.pk %}"class="btn btn-primary active" role="button" aria-pressed="true">Data</a>
                    </td>
                    <td>
                        <a href="{% url 'lesson_add_student' lesson.pk %}"class="btn btn-primary active" role="button" aria-pressed="true">add</a>
                    </td>
                    {% if user.groups.all.0.name == 'administrator' or user.groups.all.0.name == 'teachers' %}
                    <td>
                        <a href="{% url 'lesson_update' lesson.pk %}"class="btn btn-primary active" role="button" aria-pressed="true">Update</a>
                    </td>

                        <td>
                                <a href="#"class="btn btn-primary disabled" role="button" aria-pressed="true">Update</a>
                        </td>

                            <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1-{{ lesson.pk }}">
                          Delete
                        </button>
                            <div class="modal fade" id="exampleModal1-{{ lesson.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form action="{% url 'lesson_delete' lesson.pk %}" method="post">
                                        {% csrf_token %}
                                        <p>
                                          Are you sure you want to delete course? <br>
                                            -{{ lesson.name }} of {{ lesson.teacher }}
                                        </p>
                                        <input type="submit" value="Submit">
                                      </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                    </td>
                    {% endif %}

                </tr>
            {% endfor %}
          </tbody>
      </table>



    </div>
    </div>

{% endblock %}