{% extends 'dashboard2.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">



{% block title %}
    <div class="container-fluid" id="dashborad-container">
    <h3>Curses:</h3>
    <a href="{% url 'lesson_create' %}">Nowy kurs</a>

    <div class=" table table-responsive-md">
      <table class="table">
          <thead>
            <th scope="col">No</th>
            <th scope="col">Curses</th>
            <th scope="col">Details</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">Science materials</th>
          </thead>
          <tbody>

            {% for lessons in lessons %}

                <tr >
                    <td>{{ lessons.pk }}</td>
                     <td>{{ lessons.name }}</td>
                     <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                          Details
                        </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                      <div class="modal-body">
                                        {{ lesson.name }}<br>
                                        {{ lesson.description }}<br>
                                        {{ lesson.teacher }}<br>
                                        {{ lesson.students.get_queryset }} <br>
                                        {{ lesson.date }}<br>
                                        {{ lesson.data }}<br>
                                      </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                  </div>
                                </div>
                              </div>
                            </div>

                    </td>
                    <td>
                        <a href="{% url 'lesson_update' lessons.pk %}"class="btn btn-primary active" role="button" aria-pressed="true">Update</a>
                    </td>

                    <td>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                          Delete
                        </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        <p>
                                          Napewno chcesz usunąć zajęcia z bazy?
                                        </p>
                                        <input type="submit" value="Submit">
                                      </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                  </div>
                                </div>
                              </div>
                            </div>

                    </td>
                    <td>
                        <a href="{% url 'lesson_data' lessons.pk %}"class="btn btn-primary active" role="button" aria-pressed="true">Data</a>
                    </td>

                </tr>
            {% endfor %}

          </tbody>
      </table>
    </div>

    </div>
    <!-- Modal -->

{% endblock title %}