{% extends 'dashboard2.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">


{% block title %}


     <div class="container-fluid" id="dashborad-container">
      <h3>Testy:</h3>
    <a href="{% url 'studenttest_create' %}">Nowy test</a>


    <div class=" table table-responsive-md">
      <table class="table">
          <thead>
            <th scope="col">No</th>
            <th scope="col">Lesson</th>
            <th scope="col">Author</th>
            <th scope="col">Question</th>
            <th scope="col">Details</th>
            {% if user.groups.all.0.name == 'administrator' or user.groups.all.0.name == 'teachers' %}
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            {% endif %}
          </thead>
          <tbody>

            {% for test in studenttests %}

                <tr >
                    <td>{{ test.pk }}</td>
                    <td>{{ test.lesson }}</td>
                    <td>{{ test.author }}</td>
                    <td>{{ test.question }}</td>
                    <td>
                        <a href="{% url 'studenttest_detail' test.pk %}">link-details</a>
                    </td>
                    {% if user.groups.all.0.name == 'administrator' or user.groups.all.0.name == 'teachers' %}
                    <td>
                        <a href="{% url 'studenttest_update' test.pk %}">link-Update</a>
                    </td>
                    <td>
                        <a href="{% url 'studenttest_delete' test.pk %}">link-Delete</a>
                    </td>
                    {% endif %}

                </tr>
            {% endfor %}

          </tbody>
      </table>
    </div>

    </div>



{% endblock title %}