{% extends 'index.html' %}
{% load crispy_forms_tags%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">


{% block content %}


     <div class="container-fluid" id="dashborad-container">
      <h3>Tests:</h3>
    <a href="{% url 'studenttest_create' %}"class="btn btn-success active "  role="button" aria-pressed="true">Add new test</a>
{#        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#messageCreate">#}
{#            Add new test#}
{#        </button>#}
{#         <form method="post" enctype="multipart/form-data">#}
{#         <div class="modal fade" id="messageCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#                <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                            <h5 class="modal-title" id="exampleModalLabel">Add new test</h5>#}
{#                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                      <span aria-hidden="true">&times;</span>#}
{#                                </button>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{##}
{#                                        {% csrf_token %}#}
{#                                        {{ formSignup | crispy }}#}
{##}
{#                                        <input type="submit" value="Submit">#}
{##}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#         </form>#}
         <br>


    <div class=" table table-responsive-md">
      <table class="table">
          <thead>
            <th scope="col">No</th>
            <th scope="col">Lesson</th>
            <th scope="col">Author</th>

            <th scope="col">Details</th>
            <th scope="col">Test</th>
            {% if user.groups.all.0.name == 'administrator' or user.groups.all.0.name == 'teachers' %}
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            {% endif %}
          </thead>
          <tbody>

            {% for test in studenttests %}

                <tr >
                    <td>{{  forloop.counter }}</td>

                    <td>{{ test.lesson }}</td>
                    <td>{{ test.author }}</td>

                    <td>

                         <button type="button" class="btn btn-info active" data-toggle="modal" data-target="#exampleModal{{ test.pk }}">Details</button>

                        <div class="modal fade" id="exampleModal{{ test.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                      <div class="modal-body">
                                                Curse: {{ test.lesson }}<br>
                                                Author: {{ test.author }}<br>
                                                Questions: {{ test.question }}<br>

                                          <a href="{% url 'message_detail' test.pk %}"></a>
                                      </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-dark active" data-toggle="modal" data-target="#exampleModal{{ test.pk }}">Solve</button>

                        <!--<form method="post">
                        <div class="modal fade" id="exampleModal{{ test.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Test Solve</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                      <div class="modal-body">
                                                {#% csrf_token %#}
                                                {#  #}{ form.as_table }}

                                          <a href="{#% url 'studenttest_solve' test.pk %#}"></a>
                                      </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </form>-->

                    </td>


                    {% if user.groups.all.0.name == 'administrator' or user.groups.all.0.name == 'teachers' %}
                    <td>
                        <a href="{% url 'studenttest_update' test.pk %}" class="btn btn-warning active "  role="button" aria-pressed="true" >Update</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1-{{ test.pk }}">
                          Delete
                        </button>
                            <div class="modal fade" id="exampleModal1-{{ test.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form id="delete_form" action="{% url 'message_delete' test.pk %}" method="post">
                                        {% csrf_token %}
                                        <p>
                                          Are you sure you want to delete course? <br>
                                            From: {{ test.author }} <br>
                                            Curse: {{ test.lesson }}<br>
                                        </p>
                                        <input class="btn-danger" type="submit" value="Delete">
                                      </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>

                    </td>
                    {% endif %}

                </tr>
            {% endfor %}

          </tbody>
      </table>
    </div>

    </div>



{% endblock %}