{% extends 'dashboard2.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">


{% block title %}

    <h3>Testy:</h3>
    {% for test in studenttests %}
        <p>{{ test }}/<a href="{% url 'studenttest_detail' test.pk %}">szczegóły</a>/<a href="{% url 'studenttest_update' test.pk %}">aktualizuj</a>/<a href="{% url 'studenttest_delete' test.pk %}">usuń</a></p>
    {% endfor %}




     <div class="container-fluid" id="dashborad-container">
      <h3>Testy:</h3>
    <a href="{% url 'studenttest_create' %}">Nowy test</a>






    <div class=" table table-responsive-md">
      <table class="table">
          <thead>
            <th scope="col">No</th>
            <th scope="col">Lesson</th>
            <th scope="col">Author</th>
            <th scope="col">Question</th>
            <th scope="col">Details</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </thead>
          <tbody>

            {% for test in studenttest %}

                <tr >
                    <td>{{ test.pk }}</td>
                    <td>{{ test }}</td>
                     <td>{{ test.author }}</td>



                    <td>
                        <a href="{% url 'studenttest_detail' test.pk %}">link-details</a>
                    </td>
                    <td>
                        <a href="{% url 'studenttest_update' test.pk %}">link-Update</a>
                    </td>
                    <td>
                        <a href="{% url 'studenttest_delete' test.pk %}">link-Delete</a>
                    </td>


                </tr>
            {% endfor %}

          </tbody>
      </table>
    </div>

    </div>



{% endblock title %}